---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="zh" data-theme="dracula">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || "CRATE"}</title>
	</head>
	<body>
		<header id="top" class="flex-none shadow">
			<div class="navbar bg-base-100">
				<div class="flex-1">
					<a class="btn btn-ghost text-xl text-gradient">CRATE</a>
				</div>
				<div class="flex-none gap-2">
					<div class="flex-none">
						<ul class="menu menu-horizontal px-1">
							<li><a>Link</a></li>
							<li>
								<details>
									<summary> Parent </summary>
									<ul class="p-2 bg-base-100 rounded-t-none">
										<li><a>Link 1</a></li>
										<li><a>Link 2</a></li>
									</ul>
								</details>
							</li>
						</ul>
					</div>
					<div class="dropdown dropdown-end">
						<div
							tabindex="0"
							role="button"
							class="btn btn-ghost btn-circle avatar"
						>
							<div class="w-10 rounded-full">
								<img
									alt="Tailwind CSS Navbar component"
									src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
								/>
							</div>
						</div>
						<ul
							tabindex="0"
							class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52"
						>
							<li>
								<a class="justify-between">
									Profile
									<span class="badge">New</span>
								</a>
							</li>
							<li><a>Settings</a></li>
							<li><a>Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<main class="flex-1 flex flex-row mt-4">
			<aside class="w-64 flex flex-col">
				<ul class="menu menu-sm rounded-box">
					<li><a href="/settings">系统设定</a></li>
					<li><a>Item 2</a></li>
					<li><a>Item 3</a></li>
				</ul>
				<!-- <a href="#top" class="back-to-top btn btn-active btn-neutral"
					>返回顶部</a
				> -->
			</aside>
			<section class="flex-1 flex flex-col">
				<div class="flex-1 px-4">
					<slot />
				</div>
				<footer class="flex-none footer p-10 text-base-content">
					<aside>
						<svg
							width="50"
							height="50"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
							fill-rule="evenodd"
							clip-rule="evenodd"
							class="fill-current"
							><path
								d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"
							></path></svg
						>
						<p>
							ACME Industries Ltd.<br />Providing reliable tech
							since 1992
						</p>
					</aside>
					<nav>
						<h6 class="footer-title">Services</h6>
						<a class="link link-hover">Branding</a>
						<a class="link link-hover">Design</a>
						<a class="link link-hover">Marketing</a>
						<a class="link link-hover">Advertisement</a>
					</nav>
					<nav>
						<h6 class="footer-title">Company</h6>
						<a class="link link-hover">About us</a>
						<a class="link link-hover">Contact</a>
						<a class="link link-hover">Jobs</a>
						<a class="link link-hover">Press kit</a>
					</nav>
					<nav>
						<h6 class="footer-title">Legal</h6>
						<a class="link link-hover">Terms of use</a>
						<a class="link link-hover">Privacy policy</a>
						<a class="link link-hover">Cookie policy</a>
					</nav>
				</footer>
			</section>
		</main>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		min-height: 100vh;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	.back-to-top {
		position: fixed;
		bottom: 20px;
		left: 20px;
		text-decoration: none;
		padding: 10px 20px;
		border-radius: 10px;
	}
</style>
